:root {
    --wam-red: #eb1c24;
    --wam-wht: #ffffff;
    --wam-dark-gry: #191d1e;
    --wam-med-gry: #24303a;
    --wam-light-gry: #eef2f0;
}

* {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    height: auto;
    width: 99.2vw;
}

header {
    display: block;
    background-color: red;
    height: 3vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

nav {
    height: 7vh;
    width: 100vw;
    position: fixed;
    top: 3vh;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 999;
    background-color: #fff;
}

nav ul {
    padding: 0;
}


/* --- MAIN PAGE --- */
.home,
.electrical,
.data,
.testing,
.maintenance,
.contact {
    display: block;
    height: 100vh;
    width: 100%;
}

.top-wrapper {
    height: 10vh;
    width: 100%;
    background-color: #808080;
}

.img-wrapper {
    height: 50vh;
    width: 100%;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.electrical .img-wrapper img {
    object-position: 0px 9%;
}

.testing .img-wrapper img {
    object-position: 0px 15%;
}

.msg-wrapper {
    display: grid;
    grid-template-rows: 10% 86%;
    grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(25% - 8px);
    grid-gap: 10px;
    height: calc(20vh - 20px);
    padding: 10px;
    justify-content: center;
    background-color: var(--wam-red);
}

.msg-wrapper .item-1 {
    grid-column: 1 / span 4;

}

.tip-wrapper {
    display: grid;
    grid-template-rows: 10% 86%;
    grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(25% - 8px);
    grid-gap: 10px;
    height: calc(20vh - 20px);
    padding: 10px;
    justify-content: center;
}

.tip-wrapper .item-1 {
    grid-column: 1 / span 4;
}

.img-wrapper {
    filter: grayscale(100%);
}



.footer {
    height: 3vh;
    background-color: #000;
}


/* TODO: REMOVE BEFORE UPLOAD*/
.msg-wrapper div,
.tip-wrapper div {
    background-color: aqua;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        background-color: red;
    }

    .home,
    .electrical,
    .data,
    .testing,
    .maintenance,
    .contact {
        height: auto;
    }

    .electrical .top-wrapper,
    .data .top-wrapper,
    .testing .top-wrapper,
    .maintenance .top-wrapper,
    .contact .top-wrapper {
        display: none;
    }

    .img-wrapper {
        height: auto;
        max-height: 28vh;
        background-color: red;
    }

    .img-wrapper img {
        object-fit: cover;
        height: 28vh;
    }


    .msg-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5vh 31.5vh 31.5vh 31.5vh 31.5vh;
        grid-gap: 1vh;
        padding: 1vh;
        background-color: red;
        height: auto;
    }

    .item-2 {
        grid-column: 1 / span 4;
    }

    .item-3 {
        grid-column: 1 / span 4;
    }

    .item-4 {
        grid-column: 1 / span 4;
    }

    .item-5 {
        grid-column: 1 / span 4;
    }

    .tip-wrapper {
        display: none;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header {
        background-color: orangered;
    }

    .home,
    .electrical,
    .data,
    .testing,
    .maintenance,
    .contact {
        height: auto;
    }

    .img-wrapper {
        height: 30vh;
    }

    .img-wrapper img {
        object-fit: cover;
    }


    .msg-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5vh 25.5vh 25.5vh 25.5vh 25.5vh;
        grid-gap: 1vh;
        padding: 1vh;
        background-color: red;
        height: auto;
    }

    .item-2 {
        grid-column: 1 / span 4;
    }

    .item-3 {
        grid-column: 1 / span 4;
    }

    .item-4 {
        grid-column: 1 / span 4;
    }

    .item-5 {
        grid-column: 1 / span 4;
    }

    .tip-wrapper {
        display: none;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        background-color: yellow;
    }

    .home,
    .electrical,
    .data,
    .testing,
    .maintenance,
    .contact {
        height: auto;
    }

    .img-wrapper {
        height: 30vh;
    }

    .img-wrapper img {
        object-fit: cover;
    }


    .msg-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5vh 25.5vh 25.5vh;
        grid-gap: 1vh;
        padding: 1vh;
        background-color: red;
        height: auto;
    }

    .item-2 {
        grid-column: 1 / span 2;
    }

    .item-3 {
        grid-column: 3 / span 2;
    }

    .item-4 {
        grid-column: 1 / span 2;
    }

    .item-5 {
        grid-column: 3 / span 2;
    }

    .tip-wrapper {
        display: none;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header {
        background-color: green;
    }

    .home,
    .electrical,
    .data,
    .testing,
    .maintenance,
    .contact {
        height: auto;
    }

    .img-wrapper {
        height: 30vh;
    }

    .img-wrapper img {
        object-fit: cover;
    }


    .msg-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5vh 25.5vh 25.5vh;
        grid-gap: 1vh;
        padding: 1vh;
        background-color: red;
        height: auto;
    }

    .item-2 {
        grid-column: 1 / span 2;
    }

    .item-3 {
        grid-column: 3 / span 2;
    }

    .item-4 {
        grid-column: 1 / span 2;
    }

    .item-5 {
        grid-column: 3 / span 2;
    }

    .tip-wrapper {
        display: none;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header {
        background-color: blue;
    }

    .img-wrapper {
        height: 50vh;
        width: 100%;
    }

    .img-wrapper img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .msg-wrapper {
        display: grid;
        grid-template-rows: 10% 86%;
        grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(25% - 8px);
        grid-gap: 10px;
        height: calc(20vh - 20px);
        padding: 10px;
        justify-content: center;
        background-color: var(--wam-red);
    }

    .item-2 {
        grid-column: 1 / span 1;
    }

    .item-3 {
        grid-column: 2 / span 1;
    }

    .item-4 {
        grid-column: 3 / span 1;
    }

    .item-5 {
        grid-column: 4 / span 1;
    }

    .tip-wrapper {
        display: grid;
    }
}